<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <pre class="hidden pasteData"><%= paste %></pre>
    <script src="./script.js" defer></script>
    <title>Firepaste</title>
  </head>
  <body>
    <iframe src="./monaco.html" frameborder="0"></iframe>
    <div class="manageCard">
      <p class="title">FirePaste</p>
      <button>Save</button>
    </div>
    
  </body>
</html>
