@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;

  background-color: black;
}

iframe {
  width: 100%;
  height: 100%;
}

.manageCard {
  display: flex;
  position: fixed;
  right: 1rem;
  top: 1rem;

  width: 10rem;
  height: 5rem;

  background: #323232;

  border-radius: 0.5rem;

  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.manageCard p.title {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.manageCard button {
  border: none;
  background-color: #0064ff;
  width: fit-content;
  font-size: 1.5rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  display: none;
  pointer-events: none;
}
